body {
    background-image: linear-gradient(to right, #58d0db, #a4d388);
}

form {
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 30%;
    background-image: linear-gradient(to right, #a4e5de, #bee7ca);
    /* box-shadow: 2px 4px #d6d9d7; */
    border: 1px solid #d6d9d7;
    border-radius: 2px;
}

label {
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    margin: 10px;
    color: #316075;
    font-size: 10px;
    font-weight: bold;
}

input {
    margin: 0px 10px;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 4px;
    width: 90%;
}

button {
    background-color: #43a7bb;
    color: white;
    border: 1px solid #43a7bb;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
}

a {
    color: #316075;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

button:hover {
    color: white;
    cursor: pointer;
    background-color: #82bd40;
}