body {
    background-color: #e2e4e5;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 2px #FF0000;
    font-weight: 1100px;
    background-color: #eceff1;
    padding: 10px;
}

figure {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 15px;
}

figure:hover {
    background-color: #eceff1;
    color: red;
}

figcaption {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 1.5em;
}